
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
   z-index: 1000;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{

    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 0.5rem;
   border-radius: 5px;
    margin-top: 10px;
}

a{
    list-style: none;
    text-decoration: none !important;
    font-weight: bold;
    display: block;
    padding: 10px 20px !important ;
}

.active{
    background-color: black;
    color: white;
    font-weight: bold;
}



nav .menu{
    position: absolute;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
   


}

.logo-image{
    height: 35%;
    width: 35%;
}




@media screen and (max-width:991px) {
    nav .menu{
        display: block;
        top: 0;
        right: 20px;
        font-weight: bold;
    }

   nav{
    flex-direction: column;
    align-items: start;
   }
   
   nav ul{
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
   }

   nav ul.open{
    display: flex;

   }

   nav ul li{
    width: 100%;
    text-align: center;
   }

   nav ul li a{
    margin: 0.2rem 0.5rem;
   }
   
   .hams{
    font-size: 25px;
   }
  
   
   .logo-image{
    height: 50%;
    width: 50%;
}
}